
@{
    ViewBag.Title = "Home";
}

<h2><marquee width="100%" direction="left" height="50px">Welcome to Workshop Portal of ARS-IT Centre</marquee></h2>

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">About Portal</h3>
        </div>
        <div class="panel-body">
            This Workshop Portal is all about the creation of different Workshops for IT students like Java workshop, Asp.Net workshop, Python workshop, etc.
            <br />You can also attend an Workshop that you want.
            <br />Do you want to attend? Then @Html.ActionLink("Register Here", "Index", new { Controller = "Register", Area = "Common" }) and attend it.<br />
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Technologies Used</h3>
        </div>
        <div class="panel-body">
            This portal is purely developed on 3-layered architecture in VS2015 using the following technologies :
            Asp.Net MVC, jQuery, BootStrap, C#.Net, ADO.Net and MS SQL Server.<br /><br />

            Want to learn these technologies from scratch then visit <a href="https://www.linkedin.com/in/shk-quaseem/">LinkedIn</a> here.
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Learn It</h3>
        </div>
        <div class="panel-body">
            This portal is developed by Shaikh Quaseem who has over 2+ years Of teaching and over 1+ years of development experience and an excellent track record. <br />
            <br />Do you want to learn this complete application development step by step?
        </div>
    </div>
</div>